<template>
    <div>
        <div class="header">
            <div class="wrap_header">
                <div class="gnb_menu">
                    <button type="button">
                        <img src="../images/icon/round-menu-24-px.svg" alt="gnb 버튼" />
                    </button>
                </div>
                <div class="logo">
                    <router-link to="/" class="header__link">
                        <img src="../images/icon/group-4.svg" alt="체인플릭스" />
                    </router-link>
                </div>
                <div class="search">
                    <input class="search_box" type="text" placeholder="Search" />
                </div>
                <div class="side_menu">
                    <div class="side_group">
                        <router-link class="wallet_btn" to="/">
                            2,182 CFX
                        </router-link>
                    </div>
                    <div class="side_group">
                        <div class="notice_btn">
                            <img src="../images/icon/group-7.svg" alt="알림 버튼" />
                            <span class="notice_cont" v-if="notice_cont" >0</span>
                        </div>
                    </div>
                    <div class="side_group">
                        <button type="button" class="profile_picture">
                            <img src="https://d2jcw5q7j4vmo4.cloudfront.net/MbBCF3G1DkppfW5MQOMmlR_d8BiTthDZCJwh_moVFr7n-I4iPR5AjaL0oCHocvXWww=w300" alt="프로필 사진" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_gnb" v-if="gnb">
            <!--아직 내용 모름-->
        </div>
        <div class="wrap_notice" v-if="notice">
            <!--아직 내용 모름-->
        </div>
    </div>
</template>

<script src="./navigation.js"></script>