<template>
    <div class="wrapper">
        <Navigation></Navigation>
        <router-view></router-view>

    </div>
</template>



<script>
    import Navigation from './components/navigation.vue'
    export default {
        name: "app",
        components:{
            Navigation
        }
    }
</script>